<!--# Name : Surya Narayanan Nadhamuni Suresh
# UTA ID : 1001877873 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}">
    <title>Search Engine</title>
</head>
<body>

    <h1>Search engine</h1>
    <h2>Surya Narayanan N S</h2>
    <h2>UTA ID : 1001877873</h2>
    
</body>
</html>